      body{
        overflow-x:hidden;
      }
      body::-webkit-scrollbar {
        width: 0.5vw;
        background-color: gainsboro;
    
      } 
      body::-webkit-scrollbar-track{
        background-color: gainsboro;
      }
      body::-webkit-scrollbar-thumb{
        background-color: #2a9d8f;
        border-radius: 0.5vw;
        height: 10vh;
      }
  
      .nav-link{
          color:white!important;
      }

    

.carousel-caption > h2{
    font-weight: bolder;
    color: black;
    /* -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: black    !important; */
 }

 .carousel-caption > p{ 

    font-weight: bolder;
    color: black;
     /* -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: black    !important; */
 }

 .carousel-indicators li {
    background-color: #2a9d8f;
 }